In [3]:
print("Database_Interactions Included")

Database_Interactions Included

In [4]:
#update_scrape_table(mycursor)

In [10]:
#json_data = json.dumps({'meme':'memeval'})

#loaded_json = json.loads(json_data)

1 record inserted.

In [30]:
#import json

# a Python object (dict):
#x = {
#  "name": "John",
#  "age": 30,
#  "city": "New York"
#}

# convert into JSON:
#y = json.dumps(x)

# the result is a JSON string:
#print(y)

In [3]:
#db = DatabaseManager()

#db.check_if_duplicate_url_already_in_story_summaries("http://washingtonpost.com/politics/omar-tlaib-blast-israel-for-blocking-their-visit/2019/08/19/6c0ffda6-c2b9-11e9-850e-c0eef81a5224_story.html?tid=pm_politics_pop")



#db.add_summary_to_db('url', 'outlet', 'same_stories', 'date')

In [ ]:
#CREATE TABLE StorySummaries(url varchar(1000), descriptors json, same_stories json, exact_duplicates json, summary varchar(10000), id MEDIUMINT NOT NULL AUTO_INCREMENT, PRIMARY KEY (id) );